<app-header></app-header>
<main>
  <section class="section-wrapper">
    <article class="article">
      <h2 class="title">Our history</h2>
      <hr class="line">
      <p class="content">BookZone is a bookstore. Back in 2014, we started with a small stall, and now our stores are located throughout London, and the main office is not far from Trafalgar Square. On our site you can buy any book, the parcel will come to your mail within 10 calendar days.
      </p>
    </article>
    <article class="article">
      <h2 class="title">Working hours</h2>
      <hr class="line">
      <p class="content">Every day from 10 a.m. till 18 p.m.</p>
    </article>
    <article class="article">
      <h2 class="title">Location</h2>
      <hr class="line">
      <p class="content">London, United Kingdom, Regent Street, Shaftesbury Avenue, The Haymarket, Coventry Street and Glasshouse Street, 202</p>
    </article>
  </section>
</main>
<app-footer></app-footer>
